<div>
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="current"><a href="#">Apps4health</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Apps4healtH</h1>
			<h3 class="subheader">La tecnología móvil al servicio de la salud</h3>
			<img src="/img/apps.jpg" alt="Apps4health">
			<p>Las apps de salud podrían salvar las tres millones de vidas que se pierden cada año en África por el VIH/SIDA, la tuberculosis, la malaria y por enfermedades relacionadas con el embarazo.
			</p>
			<p><strong>Apps4Health</strong> constituye un foro único de colaboración donde Anesvad quiere lanzar  unos retos relacionados con problemas reales de nuestros proyectos de desarrollo en los que los desarrolladores puedan resolverlos.</p>
			<p>El resultado esperado serán prototipos de aplicaciones móviles de salud que se puedan implementar para crear un impacto real en los proyectos de Anesvad.</p>
		</div>
	</div>
</div>
<div paginas-footer></div>
</div>
