<div>
  
  <div id="apps4health-intro">
    <div class="row">
        <div class="small-11 small-centered columns">
          <h1 class="hackathon">APPS4HEALTH HACKATHON</h1>
          <h4 class="sub-hackathon">La tecnología móvil al servicio de la salud</h4>
          <p class="presentacion">La ONGD Anesvad propone la realización de una hackatón que reúna alrededor de 60 desarrolladores de aplicaciones para dispositivos móviles, con la intención de diseñar 5 Apps enfocadas en temas de promoción de la salud. </p>
          <p class="presentacion">
          4 de estas 5 Apps deberán centrarse en 4 proyectos que la Fundación Anesvad ha seleccionado de entre los muchos que actualmente se encuentra desarrollando en 20 países. La 5º App será de temática libre, aunque siempre enfocada en solucionar temas relacionados con el derecho a la salud.</p>
        </div>
    </div>
  </div>

<div id="proyectos">
  <div class="row">
    <div class="large-12 columns"><h1 class="proyectos">Los proyectos</h1></div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <h3>Ghana</h3>
      <h3 class="subheader">“Supervivencia infantil y maternidad segura”</h3>
      <img src="/img/ghana.jpg" alt="Ghana: Supervivencia infantil y maternidad segura">
      <a href="#/ghana" class="button">Más información</a>
    </div>
    <div class="large-6 columns">
      <h3>India</h3>
      <h3 class="subheader">“Programa activo para la eliminación de la lepra”</h3>
        <img src="/img/india.jpg" alt="India: Programa activo para la eliminación de la lepra">
      <a href="#" class="button">Más información</a>
    </div>
  </div>
  <div class="row separador">
    <div class="large-6 columns">
      <h3>Tailandia</h3>
      <h3 class="subheader">“Protección y asistencia sanitaria para víctimas de trata de seres humanos”</h3>
      <img src="/img/tailandia.jpg" alt="Tailandia: Protección y asistencia sanitaria para víctimas de trata de seres humanos">
      <a href="#" class="button">Más información</a>
    </div>
    <div class="large-6 columns">
      <h3>Perú</h3>
      <h3 class="subheader move">“Combate a la Dengue con el apoyo de las TICs”</h3>
      <img src="/img/peru.jpg" alt="Perú: Combate a la Dengue con el apoyo de las TICs">
      <a href="#" class="button">Más información</a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3>Tienes una idea y puede encajar?</h3>
      <h3 class="subheader">texto texto texto</h3>
      <a href="#" class="button">Más información</a>
    </div>
  </div>
</div>
<div id="premios-jurado">
  <div class="row">
    <div class="large-6 columns">
      <h4 class="jurado">Jurado</h4>
      <div class="row jurado-r">
        <div class="large-3 columns">
            <img src="http://lorempixel.com/150/150">
        </div>
        <div class="large-9 columns">
          <h5>David de Ugarte</h5>
          <p>Comunicación, supervisión, terapia familiar y desarrollo organizacional de la ONGD Anesvad.</p>
        </div>
    </div>

      <div class="row jurado-r">
      <div class="large-3 columns">
            <img src="http://lorempixel.com/150/150">
        </div>
        <div class="large-9 columns">
          <h5>Asier Gallastegui</h5>
          <p>Comunicación, supervisión, terapia familiar y desarrollo organizacional de la ONGD Anesvad.</p>
        </div>
    </div>
        <div class="row jurado-r">
     <div class="large-3 columns">
            <img src="http://lorempixel.com/150/150">
        </div>
        <div class="large-9 columns">
          <h5>David de Lorenzo</h5>
          <p>Comunicación, supervisión, terapia familiar y desarrollo organizaciona de la ONGD Anesvad.</p>
        </div>
    </div>
    </div>

    <div class="large-6 columns">
      <h4 class="premios">Premios</h4><img src="/img/premio.png" >
      <p class="t-premios">El premio para las 5 Apps “destacadas” del encuentro será la posibilidad de desarrollar en más profundidad la aplicación junto a Anesvad. </p>

      <p class="t-premios">Viajar a terreno para conocer las necesidades y la problemática de primera mano y poder enriquecer así el funcionamiento y la usabilidad de la aplicación.</p>

      <p class="t-premios">Posibilidad de realizar una serie de talleres, enfocados en formación para la mejora del desarrollo de las aplicaciones móviles, en el espacio Hirikilabs que Tabakalera Donostia está acondicionando actualmente.</p>
      <p><a href="/">Criterio de los premios ></a></p>
   </div>
  
</div>
</div>
</div>
