<div>
  <div id="apps4health-intro">
    <div class="row">
        <div class="small-11 small-centered columns">
          <h1 class="hackathon">APPS4HEALTH HACKATHÓN</h1>
          <h4 class="sub-hackathon">La tecnología móvil al servicio de la salud</h4>
          <p class="presentacion">La ONGD Anesvad propone la realización de una hackathón que reúna alrededor de 60 desarrolladores de aplicaciones para dispositivos móviles, con la intención de diseñar 5 Apps enfocadas en temas de promoción de la salud. </p>
          <p class="presentacion">
          4 de estas 5 Apps deberán centrarse en 4 proyectos que la Fundación Anesvad ha seleccionado de entre los muchos que actualmente se encuentra desarrollando en 20 países. La 5º App será de temática libre, aunque siempre enfocada en solucionar temas relacionados con el derecho a la salud.</p>
        </div>
    </div>
  </div>

<div id="proyectos">
  <div class="row">
    <div class="large-12 columns"><h1 class="proyectos">Los proyectos</h1></div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <h3>Ghana</h3>
      <h3 class="subheader">“Supervivencia infantil y maternidad segura”</h3>
      <img src="/img/ghana.jpg" alt="Ghana: Supervivencia infantil y maternidad segura">
      <a href="#/ghana" class="button">Info - Inscríbete</a>
    </div>
    <div class="large-6 columns">
      <h3>India</h3>
      <h3 class="subheader">“Programa activo para la eliminación de la lepra”</h3>
        <img src="/img/india.jpg" alt="India: Programa activo para la eliminación de la lepra">
      <a href="#/india" class="button">Info - Inscríbete</a>
    </div>
  </div>
  <div class="row separador">
    <div class="large-6 columns">
      <h3>Tailandia</h3>
      <h3 class="subheader">“Protección y asistencia sanitaria para víctimas de trata de seres humanos”</h3>
      <img src="/img/tailandia.jpg" alt="Tailandia: Protección y asistencia sanitaria para víctimas de trata de seres humanos">
      <a href="#/tailandia" class="button">Info - Inscríbete</a>
    </div>
    <div class="large-6 columns">
      <h3>Perú</h3>
      <h3 class="subheader move">“Combate a la Dengue con el apoyo de las TICs”</h3>
      <img src="/img/peru.jpg" alt="Perú: Combate a la Dengue con el apoyo de las TICs">
      <a href="#/peru" class="button">Info - Inscríbete</a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3>App libre</h3>
      <h3 class="subheader">¿Tienes una idea y puede encajar?</h3>
      <p>La 5º App será de temática libre aunque siempre enfocada en solucionar temas relacionados con el derecho a la salud. En el enlace tienes varios ejemplos para que te hagas una idea del tipo de proyectos que estamos llevando a cabo</p>
      <a href="#/applibre" class="button">Info - Inscríbete</a>
    </div>
  </div>
</div>

<div id="redes">
<div class="row">
    <div class="large-6 columns">
      <h4>Google+</h4>
      <div class="g-community" data-width="400" data-href="https://plus.google.com/u/0/communities/106253011105482847230"></div>
    </div>
        <div class="large-6 columns">
      <h4>Twitter</h4>
<a class="twitter-timeline" width="400" height="460"href="https://twitter.com/search?q=%23hackathon" data-widget-id="364322592049491968">Tweets sobre "#hackathon"</a>
    </div>

</div>
</div>


<div id="premios-jurado">
  <div class="row">
    <div class="large-6 columns">
      <h4 class="jurado">Jurado <span class="s-donde"><img src="/img/jurado.png"></span></h4>
        <img src="/img/jurado.jpg" alt="Imágen Flickr gcbadata">
        <p class="temp">Estamos realizando la selección de nuestro jurado, en breve actualizaremos la sección con los miembros seleccionados.</p>
   
      <!-- <div class="row jurado-r">
        <div class="large-3 columns">
            <img src="http://lorempixel.com/150/150">
        </div>
        <div class="large-9 columns">
          <h5>Jurado1</h5>
          <p>bio</p>
        </div>
        </div>

      <div class="row jurado-r">
      <div class="large-3 columns">
            <img src="http://lorempixel.com/150/150">
        </div>
        <div class="large-9 columns">
          <h5>Jurado2</h5>
          <p>bio</p>
        </div>
    </div>
        <div class="row jurado-r">
        <div class="large-3 columns">
            <img src="http://lorempixel.com/150/150">
        </div>
        <div class="large-9 columns">
          <h5>Jurado3</h5>
          <p>bio</p>
        </div> -->
    </div>
    <div class="large-6 columns">
      <h4 class="premios">Premios <span class="s-donde"><img src="/img/premio.png"></span></h4>
      <p class="t-premios">Los premios para las 5 Apps “destacadas” del encuentro será la posibilidad de desarrollar en más profundidad la aplicación junto a la ONGD Anesvad. </p>

      <p class="t-premios">En colaboración con Hirikilabs de Tabakalera Donostia se realizarán una serie de talleres, enfocados en formación para la mejora del desarrollo de las aplicaciones móviles.</p>

      <p class="t-premios">La App “mejor valorada” viajará a terreno para conocer las necesidades y la problemática de primera mano y poder enriquecer así el funcionamiento y la usabilidad de la aplicación.
      </p>
      <p><a href="/#premios">Reglas y criterio de adjudicación de los premios</a></p>
   </div>
    </div>
  </div>
</div>
