
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">Perú</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Perú</h1>
			<h3 class="subheader">“Supervivencia infantil y maternidad segura”</h3>
			<img src="/img/ghana-seccion.jpg" alt="Ghana">
			<p><strong>Sector:</strong> Salud Materno infantil
			</p>
			<p><strong>Situación:</strong> El Distrito de Akatsi se ubica en el sudeste de Ghana. Se trata de una zona de difícil acceso con pobres instalaciones sanitarias y una proporción de un doctor-enfermero/a por cada 70.000 personas.
			</p>
			<p><strong>Actividad:</strong> Creamos una línea base sobre salud materno infantil en las comunidades meta, capacitamos a 100 parteras tradicionales. Proporcionamos mayor información y sensibilización en las gestantes. Capacitaciones para madres (nutrición y prevención de las enfermedades más comunes en niños menores de cinco años). Actividades de empoderamiento a nivel comunitario (creación de clubes de madres y de comités de barrio).</p>
			<p class="ul-pre"><strong>Benificiarios:</strong></p>
				<ul class="disc">
					<li>1.000 mujeres embarazadas y/o madres en 20 comunidades.
					</li>
					<li>500 niños menores de 5 años.</li>
					<li>6.000 familias de las comunidades meta.</li>
					<li>20 grupos de mujeres de comunidades seleccionadas.</li>
					<li>100 parteras tradicionales.</li>
				</ul>
		</div>
	</div>
</div>
<div formulario-inscripcion></div>
	

