
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="	/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">Tailandia</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Tailandia</h1>
			<h3 class="subheader">“Protección y asistencia sanitaria para víctimas de trata de seres humanos”
</h3>
			<img src="/img/tailandia-seccion.jpg" alt="Tailandia">
			<p><strong>Sector:</strong> Trata de seres humanos

			</p>
			<p><strong>Situación:</strong> Laos es uno de los países más empobrecidos del sudeste asiático. Las zonas rurales remotas o próximas a la frontera con Thailandia, Vientiane capital y provincia, Savanakhet, Paksé, Champasak y Luang Prabang, son más vulnerables al fenómeno de la trata de seres humanos.
			</p>
			<p><strong>Objetivo:</strong> Mejorar la respuesta del gobierno de Laos a las causas (prevención) y consecuencias (rehabilitación y protección) de la trata de seres humanos con fines de explotación sexual en niñas y mujeres respetando sus derechos más fundamentales.




			</p>
			<p><strong>Actividad:</strong> Junto con nuestra contraparte en terreno, AFESIP, desarrollamos diversas intervenciones para fomentar un sistema nacional de protección y asistencia sanitaria y legal para mujeres y niñas víctimas de la trata de seres humanas con fines de explotación sexual, o en situación de riesgo.</p>
			<p class="ul-pre"><strong>Benificiarios:</strong></p>
				<ul class="disc">
					<li>1.000 mujeres embarazadas y/o madres en 20 comunidades.
					</li>
					<li>Autoridades locales a nivel central, provincial, distrito y comunidad (Ministerio de Trabajo y Bienestar Social, Policía de Anti-Trata, Unión de Mujeres de Laos y Ministerio de Salud).</li>
					<li>Comunidades en las provincias de Vientiane, Savannakhet, Paské, Champasak y Luang Prabang.</li>
				</ul>
		</div>
	</div>
</div>
<div formulario-inscripcion></div>
<div paginas-footer></div>
	

