	<div class="large-12 columns">
      <div class="row">
      	<h4>texto</h4>
      	<ul ng-controller="MainCtrl">
  			<li ng-repeat="item in messages">{{item.content}}: <a ng-click="delMessage(item.$id)" href="">{{item.from}}</a></li>
		</ul>
		<form ng-submit="addMessage()">
    		<input id="message" type="text" ng-model="message" placeholder="Message...">
    		<input id="send" type="submit" id="submit" value="Send" style="font-size:24px;">
  		</form>
    	<!-- Thumbnails -->
      </div>
    </div>

